@tailwind base;
@tailwind components;
@tailwind utilities;

/* Se você ainda quiser usar variáveis CSS para o tema */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}